.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner {
    width: 100%;
    padding: 3.75rem;
    text-align: center;
    font-size: 1.75rem;

    strong {
      font-weight: 400;
    }
  }

  .hero {
    background-size: cover;

    > div {
      border-radius: 2px;
      padding: 5rem 12%;
      background-color: $highlight;

      > p {
        padding: .8rem 14%;
      }
    }
  }

  .bannerOne {
    p {
      padding: .8rem 24%;
    }
    img { height: 42px; }
  }

  .bannerTwo {
    padding: 3.75rem 12%;
    display: flex;
    flex-flow: row wrap;
    align-items: top;
    background-color: $primary-100;

    > * {
      flex: 1 100%;
    }

    .column {
      flex: 1 0 0;
      font-size: 1.25rem;
      font-weight: 300;
      padding: 0 6%;

      > p { margin-top: 2px; }
    }
  }

  .bannerThree {
    display: flex;
    align-items: center;
    width: 100%;
    height: 660px;
    background: no-repeat 90% bottom;
    text-align: right;
    line-height: 1.5rem;
    color: $highlight;
    font-size: 1.25rem;
    font-weight: 300;

    h2 { line-height: 3rem; }

    > div {
      width: 50%;
      padding: 0 10%;
    }
    small {
      display: block;
      position: relative;
      bottom: -80px;
      font-size: 1rem;
      color: #DDDDDD;

      * { margin: 2px 0; }
      h5 { text-transform: uppercase; }
    }
  }

  .bannerFour {
    width: 100%;
    padding: 3.75rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-weight: 300;

    > h3 {
      flex: 1 100%;
      text-align: center;
    }

    .column {
      width: 26%;
      margin-top: 1.5rem;
      padding: 0 6%;
      line-height: 1.25rem;
      font-weight: 300;

      h4 { margin-top: 0; }

      > p {
        margin: 0 0 12px;

        strong {
          display: block;
          line-height: 2rem;
          text-transform: capitalize;
        }
      }

      &.renderTwo {
        height: 450px;
        width: 48%;
        background: #eeeeee no-repeat left;
        border-radius: 2px 0 0 2px;
      }
    }
  }

  .cards {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 1008px;
    margin: 2px;

    .card {
      order: 1;
      margin: 2px 4px;
      text-align: center;
      padding: 20px 68px;
      width: 33%;
      height: 248px;
      border-radius: 2px;
      background: no-repeat center;

      &.last {
        padding-top: 0;
        height: 100%;
        width: 66%;
        margin-left: -2px;
        order: 2;
      }

      p {
        margin: 0;
        line-height: 1.5rem;
      }

      .title {
        font-weight: 700;
        margin: .5rem;
      }
    }
  }

  footer {
    margin: 2rem 0;
  }
}

@media (max-width: 1227px) {
  .home {
    .bannerThree {
      background-position: 98% bottom;

      > div {
        width: 37%;
        padding: 0 4% ;
      }
      small { bottom: -40px; }
    }
  }
}

@media (max-width: 1023px) {
  .home {

    h1, h2 { line-height: 4rem; }

    .banner { padding: 2rem; }

    .hero > div {
      margin-top: 2rem;
      padding: 1rem 2rem;

      > p { padding: 0; }
    }

    .bannerOne {
      p { padding: 0; }
      img { height: 38px; }
    }

    .bannerTwo {
      .column {
        flex: inherit;

        > p { margin-top: 20px; }
      }
    }

    .bannerThree {
      align-items: flex-start;
      padding: 0 0 600px;
      height: auto;
      text-align: center;


      > div {
        width: 100%;
        padding: 0 10% ;
      }
      small {
        text-align: left;
        bottom: -1rem;
      }
    }

    .bannerFour {
      padding: 0 4px;

      .column {
        width: 50%;
        padding: 0 5%;

        &.renderTwo {
          height: 300px;
          width: 100%;
          background-size: contain;
          border-radius: 2px;
        }
      }
    }

    .cards {
      height: auto;

      .card, .card.last {
        order: 1;
        margin: 2px 4px;
        padding: 24px;
        width: 98%;
        height: auto;
        background-size: contain;
        background-position: center top;

        h2 {
          margin: -12px 0 342px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .bannerThree {
      padding: 0 0 400px;
      background-size: contain;
    }
  }
}
